<!-- alperen -->

<div class="container-fluid my-container bg-secondary bg-opacity-10">
    <div class="row my-row ">
        <div class="col">

        </div>
        <div class="col-6 my-col">
            <h1 class="my-title text-dark text-center">Hizmetlerimiz</h1>
            <div class="my-hr rounded-pill bg-warning" ></div>
            <p class="text-dark text-center ">Netger'in uzman ekibiyle işinizi daha ileriye taşıyacağımız hizmetlerimiz!</p>
        </div>
        <div class="col">

        </div>


        <div class="row d-flex justify-content-evenly my-row">
            <div class="col my-col">
            <button class="btn-1 border-0 shadow rounded-pill mb-2 mx-4 lg:mx-1">Dijital Pazarlama</button>
            <button class="btn-1 border-0 shadow rounded-pill mb-2 mx-4 lg:mx-1">Web Tasarım</button>
            <button class="btn-1 border-0 shadow rounded-pill mb-2 mx-4 lg:mx-1">Sosyal Medya Danışmanlığı</button>
            <button class="btn-1 border-0 shadow rounded-pill mb-2 mx-4 lg:mx-1">Mobil Uygulama Geliştirme</button>
            <button class="btn-1 border-0 shadow rounded-pill mb-2 mx-4 lg:mx-1">Fotograf ve Video Çekimi</button>
            </div>
        </div>
    </div>
</div>



    <!-- <div class="my-serve bg-secondary text-white bg-opacity-10 ">
            <h1 class="my-title text-dark text-center">Hizmetlerimiz</h1>
            <div class="my-hr rounded-pill bg-warning" ></div>
            <p class="text-dark text-center">Netger'in uzman ekibiyle işinizi daha ileriye taşıyacağımız hizmetlerimiz!</p>
            
            
            <div class="d-flex justify-content-center">
                <button class="border-0 shadow rounded-pill bg-light">Dijital Pazarlama</button>
                <button class="border-0 shadow rounded-pill bg-light">Web Tasarım</button>
                <button class="border-0 shadow rounded-pill bg-light">Sosyal Medya Danışmanlığı</button>
                <button class="border-0 shadow rounded-pill bg-light">Mobil Uygulama Geliştirme</button>
                <button class="border-0 shadow rounded-pill bg-light">Fotograf ve Video Çekimi</button>
                
            </div>

    </div> -->
