//alperen
// .serve{
//   padding: 300px;

// }
.my-container {
// padding-top: 50px;
// padding-bottom: 50px;

}
.my-col {
text-align: center;
}
.my-hr {
    height: 7px;
    width: 78px;    
    display:inline-block;
    text-align: center;
}
.my-title {
  // margin-top: 20px;
  font-weight: 700;
}
.btn-1{
  width: auto;
  height: 50px;
  font-weight: 350;


  color: gray;
  background-color:white;
  font-size: 1rem;

  text-align: center;
  // padding-left: 0.75rem;
  // padding-right: 0.75rem;
  

  &:hover{
    background-color:  #f6e05e;
    transition-delay:100ms;
  }
}
@media screen and(max-width:320px) {
  .my-title{
    font-size: 1.5rem;
  }
  .my-text{
    font-size: .875rem;
  }
  
}