 .header{
    --bg-opacity: 1;
    background-color: #e2e8f0;
    background-color: rgba(226,232,240,var(--bg-opacity)); 
    height: 40px;
     
  }
 .panel{
    background-size: 100%;
    font-size: .75rem;
    --text-opacity: 1;
    color: #718096;
    margin-top: auto;
  }
 
ul {
    list-style-type: none; 
    display:inline-block;
 }
li {
    float: left;
    margin: 5px;
     
  }
 li:hover{
     color: black;
 }


 
.cursor-pointer {
    cursor: pointer;
}
  
a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
    
}
ol, ul {
    list-style: none;
}
 
.text-right {
    text-align: right;
    margin-left:  400px;
}
.panel{
    margin-left:450px;
}
 
nav{
margin-left: 600px;
}
  
  @media screen and(max-width:320px)  {
      
    .header{
        display: none;
    }
  }
  @media screen and(max-width:1024px)  {
    
.text-right {
    text-align: right;
    margin-left:  400px;
}
.panel{
    margin-left:50px;
}
  }
   
 