 .header{
    --bg-opacity: 1;
    background-color: #e2e8f0;
     height: 40px;
  margin-top: auto;
 }
 .panel{
      padding-left: .75rem;
    padding-right: .75rem;
    font-size: .75rem;
  
    --text-opacity: 1;
    color: #718096;
  }
 
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
     
}
li {
    float: left;
    margin: 5px;
}
 li:hover{
     color: black;
 }


 
.cursor-pointer {
    cursor: pointer;
}
a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
    
}
a {
    background-color: transparent;
}
 
 li {
    text-align: -webkit-match-parent;
    display: inline-block;
    white-space: nowrap;
  
}
ol, ul {
    list-style: none;
}
 ul {
    list-style-type: disc;
}
.text-right {
    text-align: right;
}
.panel{
    margin-left:0px;
}
 
nav{
margin-left: 400px;
}
  @media screen and(max-width:1023px)  {
      
    .header{
        display: none;
    }
  }
  @media screen and(max-width:320px)  {
      
    .header{
        display: none;
    }
  }
  @media screen and(max-width:1370px)  {
       
     
  }
  @media screen and (max-width:1300px)  {
      
    .text-right{
      
    }
 }
     
 