<!-- alperen -->
<div class="container-fluid ">
    <div class="row ">
        <div class="col-12 my-col">
            <h1 class="my-title text-dark text-center">{{bos.titleClient}}</h1>
            <div class="my-hr rounded-pill bg-warning" ></div>
            <p class="text-dark text-center my-text ">{{bos.textClient}}</p>
        </div>
    </div>
</div>
<div class="container-fluid ">
      <div class="row justify-content-md-center">
          <div class="col-6 col-md-4  col-lg-2 my-col" *ngFor="let image of images">
            <img class="my-img" [src]="image.src">
      </div>
</div>