<!-- alperen -->
<div class="container-fluid my-container">
    <div class="row my-row-1 ">
        <div class="col"></div>
        <div class="col-6 my-col-1">
            <h1 class="my-title text-dark text-center">Müşterilerimiz</h1>
            <div class="my-hr rounded-pill bg-warning" ></div>
            <p class="text-dark text-center ">Dijital hizmetlerde tercihini Netger'den yana kullanan bazı müşterilerimiz!</p>
        </div>
        <div class="col"></div>
    </div>
</div>






<div class="container-fluid referanslar">
      <div class="row ">
          <div class="col-sm-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-1.jpg">
          </div>
          <div class="col-sm-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-2jpg.jpg">
          </div>
          <div class="col-sm-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-3.jpg">
          </div>
          <div class="col-sm-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-4.jpg">
          </div>
          <div class="col-sm-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-5.jpg">
          </div>
          <div class="col-sm-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-6.jpg">
          </div>
      </div>
      <div class="row my-row">
        <div class="col-sm-2 my-col">
          <img class="my-img" src="../../assets/img-customers/ref-7.jpg">
        </div>
        <div class="col-sm-2 my-col">
          <img class="my-img" src="../../assets/img-customers/ref-8.jpg">
        </div>
        <div class="col-sm-2 my-col">
          <img class="my-img" src="../../assets/img-customers/ref-9.jpg">
        </div>
        <div class="col-sm-2 my-col">
          <img class="my-img" src="../../assets/img-customers/ref-10.jpg">
        </div>
        <div class="col-sm-2 my-col">
          <img class="my-img" src="../../assets/img-customers/ref-11.jpg">
        </div>
        <div class="col-sm-2 my-col">
          <img class="my-img" src="../../assets/img-customers/ref-12.jpg">
        </div>
    </div>
    <div class="row my-row">
      <div class="col-sm-2 my-col">
        <img class="my-img" src="../../assets/img-customers/ref-13.jpg">
      </div>
      <div class="col-sm-2 my-col">
        <img class="my-img" src="../../assets/img-customers/ref-14.jpg">
      </div>
      <div class="col-sm-2 my-col">
        <img class="my-img" src="../../assets/img-customers/ref-15.jpg">
      </div>
      <div class="col-sm-2 my-col">
        <img class="my-img" src="../../assets/img-customers/ref-16.jpg">
      </div>
      <div class="col-sm-2 my-col">
        <img class="my-img" src="../../assets/img-customers/ref-17.jpg">
      </div>
      <div class="col-sm-2 my-col">
        <img class="my-img-2" src="../../assets/img-customers/ref-18.jpg">
      </div>
  </div>
  <div class="row my-row-2">
    <div class="col-sm-2 my-col">
      <img class="my-img-2" src="../../assets/img-customers/ref-19.jpg">
    </div>
    <div class="col-sm-2 my-col">
      <img class="my-img-2" src="../../assets/img-customers/ref-20.jpg">
    </div>
    <div class="col-sm-2 my-col">
      <img class="my-img-2" src="../../assets/img-customers/ref-21.jpg">
    </div>
    <div class="col-sm-2 my-col">
      <img class="my-img-2" src="../../assets/img-customers/ref-22.jpg">
    </div>
    <div class="col-sm-2 my-col">
      <img class="my-img-2" src="../../assets/img-customers/ref-23.jpg">
    </div>
    <div class="col-sm-2 my-col">
      <img class="my-img-2" src="../../assets/img-customers/ref-24.jpg">
    </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-2 my-col">
    <img class="my-img-2" src="../../assets/img-customers/ref-25.jpg">
  </div>
  <div class="col-sm-2 my-col">
    <img class="my-img-2" src="../../assets/img-customers/ref-26.jpg">
  </div>
  <div class="col-sm-2 my-col">
    <img class="my-img-2" src="../../assets/img-customers/ref-27.jpg">
  </div>
</div>
</div>