<!-- alperen -->
<div class="container-fluid ">
    <div class="row ">
        <div class="col-12 my-col">
            <h1 class="my-title text-dark text-center">{{titleClient}}</h1>
            <div class="my-hr rounded-pill bg-warning" ></div>
            <p class="text-dark text-center my-text ">{{textClient}}</p>
        </div>
    </div>
</div>
<div class="container-fluid ">
      <div class="row justify-content-md-center">
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-1.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-2jpg.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-3.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-4.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-5.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-6.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-7.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-8.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-9.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-10.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-11.jpg">
          </div>
          <div class="col-6 col-md-4  col-lg-2 my-col">
            <img class="my-img" src="../../assets/img-customers/ref-12.jpg">
          </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-13.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-14.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-15.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-16.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-17.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img img-2" src="../../assets/img-customers/ref-18.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img img-2" src="../../assets/img-customers/ref-19.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img img-2" src="../../assets/img-customers/ref-20.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img img-2" src="../../assets/img-customers/ref-21.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-22.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-23.jpg">
            </div>
            <div class="col-6 col-md-4  col-lg-2 my-col">
              <img class="my-img" src="../../assets/img-customers/ref-24.jpg">
            </div>
              <div class="col-6 col-md-4  col-lg-2 my-col">
                <img class="my-img" src="../../assets/img-customers/ref-25.jpg">
              </div>
              <div class="col-6 col-md-4  col-lg-2 my-col">
                <img class="my-img" src="../../assets/img-customers/ref-26.jpg">
              </div>
              <div class="col-6 col-md-4  col-lg-2 my-col">
                <img class="my-img" src="../../assets/img-customers/ref-27.jpg">
              </div>
      </div>
</div>