//alperen
.my-col {
    text-align: center;
    }
.my-hr {
    height: 7px;
    width: 78px;    
    display:inline-block;
    text-align: center;
}
.ref-web{
    width: 100%;
    position: absolute;
    clip: rect(0,302,89,0);

}
.ref-1{
    width:50%;
    display: inline-block;
    position: relative;
    transform: translate(-50%, 0%) scale(0.635971);}