.w-full {
    width: 100%;
}
img  {
    max-width:100%;
    width: auto;
 }
hr{
    opacity: 1;
    background:  #f3c625;;
    height: 6px;
    border-radius: 9999px;
    width: 30%;
    display:inline-block;
    margin: 0;
    margin-bottom :.75rem;
}

button{
    opacity: 1;
    background-color: #f3c625;;
    height: 6px;
    border-radius: 9999px;
    width: 50%;  
 }
 
  
.flex {
    display: flex;
}

span{
    text-align: center;
}

h2 {
    display: block;
     margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .25rem;
    margin: 0;
    font-weight: 700;
  }

a, li {
    display: inline-block;
    white-space: nowrap;
 }

a {
    color: inherit;
     text-decoration: inherit;
}
.button{
    opacity: 1;
    background-color: #f3c625;;
    height: 25px;
    border-radius: 9999px;
    width: 40%;
    
 }

.p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1px;
    text-align: center;
}
  
  .referance{
  padding-top: 6rem;
  padding-bottom: 6rem;
  --bg-opacity: 1;
    background-color: rgba(237,242,247,var(--bg-opacity));
    width: 100%;
  }

.p-3:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2); 
 }
 .res{
     display: flex;
 }
 .ust,.alt{
     display: flex;
 }
@media screen and (max-width:980px) {
    .button{
        width: 150px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    hr{
      width: 70px;
    }
     .flex{
        display:block;
    }
    .resler{
        display: flex;
    }
    .alt{
        display: flex;
    }
    .ust{
        display: flex;
    }
}
 @media screen and(max-width:767px) {
    
    .ust{
        display: block;
     }
 }
 

 

 
