.kampanyaa{
    --bg-opacity: 1;
    background-color: rgba(247,250,252,var(--bg-opacity));
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

h3  {
    text-align: center;
    font-size: 1.875rem;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: .25rem;
}
h4{
  margin-bottom: .25rem;
}
.ml-3{
    margin-left: 45%;
    width: 10%;
    display:inline-block;

}
hr{

    margin-top: 0px;
    opacity: 1;
    background:  #f3c625;
    height: 6px;
    border-radius: 9999px;
      
  
}
.kampanya{
    padding: 1.25rem;
    width: 100%;
}
.kare{
    position: relative;
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
    align-items: flex -end;
    height: 100%;
}
.details{
   
    margin-top: 100px;
    padding-right: 16rem;
}
.desktop{
    position: absolute;
    text-align: right;
    width: 100%;
    height: 100%;

}
.button{
    border-bottom-width: 2px;
    --border-opacity: 1;
 background-color:#f3c625;
 border-color: #744210;
    border-radius: 9999px;
    font-size: .875rem;
    margin-top: 1.25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
 }
 
@media (min-width: 1280px){
.kampanya {
    width: 40%;
}}
 
.cursor-pointer {
    cursor: pointer;
} 
 
 
.justify-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

p {
    display: block;
   
    
}
.text{
    --text-opacity: 1;
    color: rgba(116,66,16,var(--text-opacity));
}
.button:hover {
    --bg-opacity: 1;
    background-color:yellow;
 }

a, li {
    display: inline-block;
    white-space: nowrap;
}
a {
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: 100%;
     vertical-align: middle;
}

@media (min-width: 1024px){
.lg\:hidden {
    display: none;
}}
@media  (max-width: 980px) {
    .desktop {
     display: none;
    }
 } 
 @media  (max-width:540px) {
     .desktop{
         display: none;
     }
     .details{
         display: block;
         padding-right: 0px;
     }
     .ml-5{
         margin-left: 30%;
     }
 }
 
 
 
