<div class="kampanyaa">
    <div class="kutu container">
        <div class="header" *ngFor="let item of head.header.data">
         <h3> {{item.title}}</h3>  
        
        <hr class="ml-3">
</div>
        <div class=" flex flex-wrap justify-center"   >
          
            <div class="kampanya" *ngFor="let item of campaign.camp.data">
                <div class="kare flex flex-wrap"  >
                    <div class="desktop" >  
                        <img class="img" [src]="item.src">
                        
                    </div> <h4 class="details">{{item.head}}</h4>
                        <p class="details">{{item.text}}</p>
                             
                    <!-- <div class="details" *ngFor="let text of campaign.camp2.data">
                        <h4>{{text.head}}</h4>
                        <p>{{text.text}}</p>
                        
                    </div> -->
                    
                    <div *ngFor="let icon of cmp.camp3.data" >
                        <a class="button" [href]="icon.url"> {{icon.text}}<i [ngClass]="icon.icon"></i>
                        </a></div> 
                </div>
           
        </div>
    </div>


</div>

<!-- <div class="mobile w-full z-0 lg:hidden border-b-2"  *ngFor="let item of camp4">
                            <img class="img" [src]="item.src"> 
                        </div>  -->