<div class="widget-3 bg-gray-100 py-10 lg:py-24">
    <div class="container mx-auto text-center">
        <h3 class="text-2x1 lg:text-3x1 font-poppins font-bold mb-1">Kampanyalar</h3>
        <div class="hr mb-3">
          <span class="bg-yellow-500 inline-block rounded-full" style="height: 7px; width: 78px;"></span>
        </div>
        <div class="mt-5 text-left">
            <div class="row flex flex-wrap justify-center">
               <div class="kampanya w-full xl:w-1/2 p-5">
                 <div class="relative bg-white shadow hover:shadow-lg flex flex-wrap items-end transition h-full">
                      
                    <div class="desktop absolute top-0 right-0 text-right w-full h-full z-0 hidden lg:block">
                          <img  src="/assets/kampanya-3.jpg" alt="kampanya" class="inline-block h-full">
                    </div>
                       
                    <div class="details w-full p-8 lg:p-12 lg:pr-64 z-10 h-full">
                            <h4 class="text-xl pr-8 font-poppins font-semibold mb-4">Kurumsal Web Tasarım</h4> 
                            <p>Firmanıza özel hazırlanmış bir internet siteniz olsun!</p> 
                            <a href="/kurumsal-web-tasarim" class="border-2 border-yellow-500 text-sm mt-5 rounded-full bg-yellow-400 text-yellow-900 px-3 py-1 hover:bg-yellow-300 hover:border-yellow-400">Daha fazla bilgi
                             <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 -40 448 512" class="inline-block w-3 h-3 align-baseline ml-px -mb-px" height="10">
                                <path fill="currentColor" d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"></path>
                             </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kampanya w-full xl:w-1/2 p-5">
                    <div class="relative bg-white shadow hover:shadow-lg flex flex-wrap items-end transition h-full">
                         
                       <div class="desktop absolute top-0 right-0 text-right w-full h-full z-0 hidden lg:block">
                             <img  src="/assets/kampanya.jpg" alt="kampanya" class="inline-block h-full">
                       </div>
                          
                       <div class="details w-full p-8 lg:p-12 lg:pr-64 z-10 h-full">
                               <h4 class="text-xl pr-8 font-poppins font-semibold mb-4">Netger Avukat ürününde %20 indirim Fırsatı</h4> 
                               <p>Ofisini son 1 yıl içinde açan avukatlara özel!</p> 
                               <a href="/kurumsal-web-tasarim" class="border-2 border-yellow-500 text-sm mt-5 rounded-full bg-yellow-400 text-yellow-900 px-3 py-1 hover:bg-yellow-300 hover:border-yellow-400">Daha fazla bilgi
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 -40 448 512" class="inline-block w-3 h-3 align-baseline ml-px -mb-px" height="10">
                                   <path fill="currentColor" d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"></path>
                                </svg>
                               </a>
                           </div>
                       </div>
                   </div>
                   <div class="kampanya w-full xl:w-1/2 p-5">
                    <div class="relative bg-white shadow hover:shadow-lg flex flex-wrap items-end transition h-full">
                         
                       <div class="desktop absolute top-0 right-0 text-right w-full h-full z-0 hidden lg:block">
                             <img  src="/assets/kampanya-2.jpg" alt="kampanya" class="inline-block h-full">
                       </div>
                          
                       <div class="details w-full p-8 lg:p-12 lg:pr-64 z-10 h-full">
                               <h4 class="text-xl pr-8 font-poppins font-semibold mb-4">Netger Doktor ürününde %20 İndirim Fırsatı</h4> 
                               <p>Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p> 
                               <a href="/kurumsal-web-tasarim" class="border-2 border-yellow-500 text-sm mt-5 rounded-full bg-yellow-400 text-yellow-900 px-3 py-1 hover:bg-yellow-300 hover:border-yellow-400">Daha fazla bilgi
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 -40 448 512" class="inline-block w-3 h-3 align-baseline ml-px -mb-px" height="10">
                                   <path fill="currentColor" d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"></path>
                                </svg>
                               </a>
                           </div>
                       </div>
                   </div>
             
        


          
        </div>
    
    
    </div>

</div>

