// alperen
.body-1 {
width: 100%; 
//max-width:2500px;
min-height: 480px;
 background-image: url(../../assets/img-body1/hero.webp);
 background-size: cover;
 background-position: 50%;
 display: table;
 height: 100%;
}
.my-title {
    font-size: 4rem;
    font-weight: 700;
}
.my-text {
    font-size: 1.2rem;
}
.my-col {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.my-row{
    display: table-cell;
    vertical-align: middle;
}
@media screen and (max-width:1023px) {
    .my-title {
        font-size: 1.875rem;
        font-weight: 700;
    }
    .my-text {
        font-size: .875rem;
    }
}

