// alperen
.body-1 {
    width: 100%; 
max-width:2500px;
min-height: 520px;
 background-image: url(../../assets/img-body1/hero.webp);
 background-size: cover;
 background-position: 50%;
}
.my-container {
    margin: 30px;
  //  z-index: +9999;
    
}
.my-title {
    font-size: 3.9vw;
}
.my-text {
    font-size: 1.2rem;
}
.my-col {
padding: 180px;
// margin-bottom:2rem;
 text-align: center;
}
.customers {
    flex-wrap:wrap
}