
<!-- alperen -->
<div class = "body 1" style="
width: 100%; 
max-width:2500px;
min-height: 520px;
 background-image: url(../../assets/img-body1/hero.webp);
 background-size: cover;
 background-position: 50%;">
 

        
            <div class="div position-absolute top-50 start-50 translate-middle ">
           
                <h1 class="title text-light " >Dijital hayaller şimdi gerçekler!</h1>
                <p class="text text-light ">Netger dijital reklam ajansı işinizi büyütmeniz ve geliştirmeniz için dijital çözümler üretir.</p>
            </div>
            
            
        

    
</div>