
<div class="footer">
    <div class="container my-container ">
        <div class="row">
            <div class="col">
    
            </div>
            
            <div class="col">
                <p class ="text-white-50 text-center">Netger A.Ş. © Copyright 2020</p>
            </div>
            <div class="col">
                <p class="text-white-50 text-end ">EN</p>
    
            </div>
        </div>
    </div>

</div>



<!-- <div class="footer d-flex justify-content-between" >
    <p></p>
    <p class =" ">Netger A.Ş. © Copyright 2020</p>
    <p class=" ">EN</p>

</div> -->