<div class="container-fluid footer ">
    <div class=" my-row row ">
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-4">
             <a href="#" class ="my-text-1 text-light">{{footer1}}</a>
        </div>
        <div class="col-12 col-lg-4 ">
        <div *ngIf="langBool; then thenBlock else elseBlock "></div>
            <ng-template #thenBlock>
                <a href="/en"  class="my-text-2 text-light">{{bos.footer2}}</a>
            </ng-template>
            <ng-template #elseBlock>
                <a href="#"  class="my-text-2 text-light">{{bos.footer2}}</a>
            </ng-template>
        </div>

    </div>
</div>

