//alperen
.footer {
background: #2d3748; 
}

.my-text-1{
    opacity: .5;
    text-decoration:none;
    &:hover {
        transition-duration: 300ms;
        opacity: 1;
    }
}

.my-text-2{
    opacity: .5;
    text-decoration:none;
    &:hover {
        opacity: 1;
    }
}
.my-row{
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
}