<nav *ngIf="showFirst" class="navbar navbar-expand-xl navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/img-navi/logo-s.png" class="rounded mx-auto d-block"
        alt="..."></a>

    <button type="button" class="btn btn-warning b2">Teklif Alın </button>
    <button *ngFor="let icon of icon" [ngClass]="icon.icon" type="button" class="btn btn-success btn-hidden-lg"> {{icon.text}}</button>
    
    <button class="navbar-toggler" type="button" (click)="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      
        <div class="dropdown" *ngFor="let data of navbarD">
          <button class="btn btn--light dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{data.name}}
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
            <li><a  class="dropdown-item" href="#" *ngFor="let drop of navbarD">{{drop.dropdownItems}}</a></li>
          </ul>
        </div>


        <li *ngFor="let navbar of navbar" class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{navbar.text}}</a>
        </li>
        <button type="button" class="btn btn-warning"> Sizi Arayalım</button>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="!showFirst" class="mobile-nav">
  <ul class="head"  *ngFor="let icon of headers">
    {{icon.head}}
    <li class="text"> 
     {{icon.text}}
    </li>
   </ul>
  <div class="buttons">
    <button type="button" class="btn btn-warning"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
      </svg>444 0 908 </button>
    <button type="button" class="btn btn-warning"> Sizi Arayalım</button>
    <button type="button" class="btn btn-warning"> EN</button>
  </div>
  <button (click)="openNav()" class="exit">X </button>
</div>