.nav-item{
  font-weight: bolder;
  opacity: 0.7;
}
.btn.btn--light.dropdown-toggle{
  font-weight: bolder;
  opacity: 0.7;
}
  


 .nav-item:hover {

  animation-name: animation_berke;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  }
  @media screen and (min-width: 960px) {
    .btn.btn-warning{
      display: none;
    }
    .btn.btn-success.btn-hidden-lg{
      display: none;
    }
    // .navbar.navbar-expand-lg.navbar-light {
    //  position: fixed;

    //  width: 100%
    //   }
  }

  .btn{
    border-radius:  40px;
  }

  .btn:hover{
    
   animation-name:animation_berke;
   animation-duration: 1s;
   animation-timing-function:ease-out;

  
  }

  @keyframes animation_berke{
    from{background-color: transparent;}
    to{background-color: #ffbb00;}
    
  }

  