 .liste{
    font-weight: 600;
    font-size: .875rem;
     height: 60px;
}

ul{
     margin: 0px;
    padding: 0px;
   
    list-style: none;
   
}
.w-full{
      width: 100%;
}
li{
    margin: 0px;
    background-color:#dddfe2;
   padding-top: 0.5rem;
   border-left-width: 10px;
   border-right-width: 10px;
   text-align: center;
   
 
}

a{
    align-items: center;
    justify-content: center;
    text-decoration: inherit;
    color: inherit;//mavi renk
}
 

.flex {
    display: flex;
}

li:hover{
    background-color:rgb(170, 168, 168);
}

@media  screen and (max-width: 980px) {
  
   .liste{
       display:inline ;
   } 
   li{
     margin: 0px;
   }
} 
    