p.baslik{
    font-size: xx-large;
    font-weight: bolder;
    margin-top:130px;
}
span.eniyi{
    font-weight: bolder;
}
.btn{
    border-radius:  40px;
    opacity: 0.7;
}
.container-fluid{
    background-color:rgba(247,250,252);
}
.col{
    text-align: left;
    margin-top:10px;
    margin-bottom:100px;
}
@media screen and (max-width: 1024px)
{
    p.baslik{
        margin-top: -30px;
    }
    .col{
        text-align: left;
    }
    .col{
        position: relative;
        top: 100px;
    }
    img{  
        max-width: 100%;
        height: auto; 
    }
}
@media screen and (max-width: 320px)
{
    p.baslik{
        margin-top: -30px;
    }
    .col{
        text-align: center;
    }
    .col{
        position: relative;
        top: 100px;
    }
    img{
        
        max-width: 100%;
        height: auto;   
    }
}





