p.baslik{
    font-size: xx-large;
    font-weight: bolder;
    margin-top:80px;
}
span.eniyi{
    font-weight: bolder;
}
.btn{
    border-radius:  40px;
}
div.container{
    margin-top:50px;
    margin-bottom:100px;
}