<div class="card">
  <div class="card-body bg-gray-700">
    <div class="container">
      <div class="row ">
        <div class="col-md-12 col-lg-3 ">
          <li class="mahmut" *ngFor="let icon of data0">
            <a [href]="icon.url"> <img [src]="icon.img"> <i [ngClass]="icon.icon"></i>{{icon.text}}
            </a>
          </li>
          <li class="icons"  *ngFor="let icon of icons">
            <a class="mahmut" [href]="icon.url"> <i [ngClass]="icon.icon"></i>
            </a>
           
          </li>
          <img class="x" src="/assets/img-footer1/logo-foot2.png">
        </div>
        <div class="col-md-12 col-lg-3 ">
          <ul class="baslik" *ngFor="let data of mahmut.page.data">
            {{data.head}}
            <li class="text">
              {{data.text}} <br>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg-3 ">
          <ul class="baslik" *ngFor="let data of mahmut.page.datas">
            {{data.head}}
            <li class="text">
              {{data.text}} <br>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg-3">
          <ul class="baslik" *ngFor="let data of mahmut.page.data3">
            {{data.head}}
            <li class="text">
              {{data.text}} <br>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>