
div.col{
    text-align:left;
    
    color: white;
    
    
}

p.baslik{
    font-weight: bolder;
    font-size: larger;
}
p.text{
    color: rgb(214, 211, 211);
}

.bg-gray-700 {
    --bg-opacity: 1;
    background-color: #4a5568;
    background-color: rgba(74,85,104,var(--bg-opacity));
}
.container{
    margin-left: 175px;
}
.card{
    border: 0;
}
svg.icon{
   white-space: nowrap;
   display: inline block;
}

@media screen and (max-width: 960px) {
    .card-body.bg-gray-700{
        text-align: center;
        color: white;
    }
}