div.col-md-12.col-lg-3 {  
    color: white;
}
ul.baslik{
    font-weight: bolder;
    font-size: larger;
    color: white;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li.mahmut{
    list-style: none;
    color: inherit;
}
li.text{
    
    font-size: smaller;
    color: rgb(214, 211, 211);
}
.bg-gray-700 {
    --bg-opacity: 1;
    background-color: #4a5568;
    background-color: rgba(74,85,104,var(--bg-opacity));
}
.card{
    border: 0;
}
svg.icon{
   white-space: nowrap;
   display: inline block;
}
@media screen and (max-width: 960px) {
    .card-body.bg-gray-700{
        text-align: left;
        color: white;
    }
    div.col-md-12.col-lg-3{
        font-size: medium;
        text-align: center;
        color:white
    }
    p.adres{
        text-align: left;
        color:white
   
    }
}
@media screen and (max-width: 320px) {
    .card-body.bg-gray-700{
        text-align: center;
        color: white;
    }
    div.col-md-12.col-lg-3{
        font-size: medium;
        text-align: center;
        color:white
    }
    p.adres{
        text-align: center;
        color:white;
    }
}