.bg-yellow-500 {
    --bg-opacity: 1;
    background-color: #ecc94b;
    background-color: rgba(236,201,75,var(--bg-opacity));
}
div.col{
    font-weight: bolder;
    font-size: larger;
    text-align:center;
}

.btn{
    
    background-color: white;
    font-weight: bold;
    border-radius:40px;
}
.card{
    border:0
}



@media screen and (min-width: 960px) {
    .btn.btn-light.b2{
        display:none;
    }
    p.y2{
        display: none;
    }
    
    
    
     
  }

  @media screen and (max-width: 960px) {
    p.y1{
        display:none;
       
    }
    .btn.btn-light.b1{
        display: none;
        text-align: center;
    } 
    .btn.btn-light.b2{
     //  margin-top: 50px;
    }
    p.y2{
       // margin-top: -15px;
    }

    
   
}
@media screen and (max-width: 320px) {
    p.y1{
        display:none;
       
    }
    .btn.btn-light.b1{
        display: none;
                } 
     .btn.btn-light.b2{
         position: relative;
        right: -20px;
        top: 10px;
        font-size: small;
       
     }
     p.y2{
        font-size: small;
         position: relative;
        top:10px;
        left: 10px;
     }
     .col.test{
         font-size: small;
     }

}