<div class="card">
  <div class="card-body bg-yellow-500">
    <div class="container">
      <div class="row">
        <div class="col ">
          <i class="fas fa-phone-alt"></i> 444 8 908
        </div>
        <div class="col">
          <p class="y1"><i class="fas fa-envelope"></i> {{mahmut.page.mail}}
          </p>
          <p class="y2"> <i class="fas fa-envelope"></i> {{mahmut.page.mail}}
          </p>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light b1 "> <i class="fas fa-phone-alt"></i> {{mahmut.page.call}} </button>
          <button type="button" class="btn btn-light b2"><i class="fas fa-phone-alt"></i> {{mahmut.page.call}} </button>
        </div>
      </div>
    </div>
  </div>