.bg-yellow-500 {
    --bg-opacity: 1;
    background-color: #ecc94b;
    background-color: rgba(236,201,75,var(--bg-opacity));
}
div.col{
    font-weight: bolder;
    font-size: larger;
    text-align:center;
}

.btn{
    
    background-color: white;
    font-weight: bold;
    border-radius:40px;
}
.card{
    border:0
}